<div class="wrapper">


    <!-- #skills = Angular spezifische id-definierung -->
    <div class="hire bgOverlay" id="hire" #hire>
        <div class="hireHeader">
            <h1 class="crtHeader noselect">HIRE</h1>
        </div>
    </div>

    <form name="hire" method="POST" netlify>


        <input type="text" spellcheck="false" id="email" placeholder="example@mail.com" name="email" required>

        <input type="text" spellcheck="false" id="subject" placeholder="Enter subject here" name="subject" required>

        <textarea spellcheck="false" id="hireMsg" name="message" rows="8" cols="50" placeholder="Send me an e-mail if I was able to convince you that I am the right choice!" required></textarea>

        <input type="submit" name="submit" value=">> Send" />

    </form>



</div>