.wrapper {
    z-index: 10000;
}

label {
    margin: 0;
    padding: 0;
}


/* .wrapper>* {
    color: #fff;
    border: 1px solid red;
} */

.hire {
    grid-area: 1 / 1 / 1/ 7;
    z-index: 10;
    height: 25vh;
    position: relative;
}


/* CUSTOM HIGHLIGHTING */

::selection {
    background: #7EE8EA;
    /* WebKit/Blink Browsers */
}

 ::-moz-selection {
    background: #7EE8EA;
    /* Gecko Browsers */
}

.formContainer {
    min-height: 100%;
    /* min-width: 100%; */
}


/* PLACEHOLDER COLOR CHANGE------------------------ */

::placeholder {
    /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #f3caff;
    opacity: 0.5;
    /* Firefox */
}

 :-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    color: rgb(243, 202, 255);
    opacity: 0.5;
}

 ::-ms-input-placeholder {
    /* Microsoft Edge */
    color: rgb(243, 202, 255);
    opacity: 0.5;
}

.msgEmail {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    grid-template-rows: repeat(11, 1fr);
    background-color: black;
    background-image: radial-gradient( rgba(73, 0, 156, 0.75), black 120%);
    height: 60vh;
    width: 60%;
    margin: 0 auto;
    z-index: 1000;
    margin-top: 3em;
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 2;
    grid-row-end: 2;
    border: 1px solid #AF89BF;
}

.msgEmail>* {
    /* color: #fff;
    border: 1px solid red; */
    color: #f3caff;
    padding-left: 2.5rem;
    padding-top: 1.5em;
    padding-right: 1.5em;
}

.toLabel {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
}

.toText {
    grid-column-start: 2;
    grid-column-end: 11;
    grid-row-start: 1;
    grid-row-end: 1;
    padding-left: 0;
}

.fromLabel {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 2;
}

.fromEmail {
    grid-column-start: 2;
    grid-column-end: 11;
    grid-row-start: 2;
    grid-row-end: 2;
}

.subjectLabel {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 3;
}

.subjectEmail {
    grid-column-start: 2;
    grid-column-end: 11;
    grid-row-start: 3;
    grid-row-end: 3;
}

.msgLabel {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 4;
}

.msgArea {
    grid-column-start: 2;
    grid-column-end: 11;
    grid-row-start: 4;
    grid-row-end: 11;
}

.submitBtn {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 11;
    grid-row-end: 11;
}

.msgEmail input[type="text"] {
    font: 1vw "ModeSeven", monospace;
    background-color: transparent;
    border: transparent;
    width: 100%;
    color: #f3caff;
    text-shadow: 0 0 5px #C8C8C8;
    z-index: 2000;
}

.msgEmail input[type="submit"] {
    font: 1vw "ModeSeven", monospace;
    background-color: transparent;
    border: transparent;
    color: #f3caff;
    text-shadow: 0 0 5px #C8C8C8;
    margin: 0;
    padding: 0;
    padding-bottom: 1em;
    padding-right: 5px;
    transition: all 0.5s;
    z-index: 2000;
}

.msgEmail input[type="submit"]:hover {
    font: 1vw "ModeSeven", monospace;
    color: #E2ACE3;
    text-shadow: 0 0 5px #e89cff;
    padding-bottom: 1em;
}

app-hire {
    display: block;
    position: relative;
}

.msgEmail input:focus,
textarea:focus {
    outline: none;
}

.msgEmail textarea {
    font: 1vw "ModeSeven", monospace;
    width: 100%;
    height: 100%;
    background-color: transparent;
    border: 0 solid transparent;
    color: #f3caff;
    text-shadow: 0 0 5px #C8C8C8;
    resize: none;
    text-align: justify;
}

.messageCont {
    margin-top: 3em;
    grid-column-start: 2;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 6;
    z-index: 10;
}

h5 {
    font-family: "Vipnagorgialla", Arial, Helvetica, sans-serif !important;
    font-style: italic;
    font-weight: 1000;
    text-transform: uppercase;
    font-size: 3em;
}

p {
    font: 1vw "ModeSeven", monospace;
    text-shadow: 0 0 5px #C8C8C8;
    padding: 3px 0 5px 0;
    margin: 0;
}

label {
    font: 1vw "ModeSeven", monospace;
    text-shadow: 0 0 5px #C8C8C8;
    display: inline-block;
}


/* MEDIA QUERIES */

@media screen and (max-width: 480px) {
    .msgEmail {
        width: 80%;
        margin: 3em auto 0;
    }
    .msgEmail>* {
        color: #f3caff;
        padding-left: 0.5em;
        padding-top: 0.5em;
        padding-right: 0.5em;
    }
    .toLabel {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 1;
    }
    .toText {
        grid-column-start: 2;
        grid-column-end: 11;
        grid-row-start: 1;
        grid-row-end: 1;
        padding-left: 0;
    }
    .fromLabel {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 2;
    }
    .fromEmail {
        grid-column-start: 2;
        grid-column-end: 11;
        grid-row-start: 2;
        grid-row-end: 2;
    }
    .subjectLabel {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 3;
    }
    .subjectEmail {
        grid-column-start: 2;
        grid-column-end: 11;
        grid-row-start: 3;
        grid-row-end: 3;
    }
    .msgLabel {
        grid-column-start: 1;
        grid-column-end: 11;
        grid-row-start: 4;
        grid-row-end: 4;
    }
    .msgArea {
        grid-column-start: 1;
        grid-column-end: 11;
        grid-row-start: 5;
        grid-row-end: 11;
        min-height: 100px;
    }
    .submitBtn {
        grid-column-start: 1;
        grid-column-end: 11;
        grid-row-start: 11;
        grid-row-end: 11;
    }
    .msgEmail input[type="text"] {
        font-size: 0.8em;
        width: 100%;
    }
    .msgEmail input[type="submit"] {
        font-size: 0.8em;
    }
    .msgEmail input[type="submit"]:hover {
        font-size: 0.8em;
    }
    .msgEmail textarea {
        font-size: 0.8em;
        width: 100%;
        height: 100%;
    }
    .messageCont {
        grid-column-start: 2;
        grid-column-end: 6;
        grid-row-start: 3;
        grid-row-end: 6;
    }
    h5 {
        font-size: 3em;
    }
    p {
        font-size: 0.8em;
    }
    label {
        font-size: 0.8em;
    }
}

@media screen and (min-width: 480px) and (max-width: 767px) {
    .hire {
        height: 10vh;
    }
    .msgEmail {
        width: 80%;
        margin: 3em auto 0;
    }
    .msgEmail>* {
        padding-left: 0.5em;
        padding-top: 0.5em;
        padding-right: 0.5em;
    }
    .toLabel {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 1;
    }
    .toText {
        grid-column-start: 2;
        grid-column-end: 11;
        grid-row-start: 1;
        grid-row-end: 1;
        padding-left: 0;
    }
    .fromLabel {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 2;
    }
    .fromEmail {
        grid-column-start: 2;
        grid-column-end: 11;
        grid-row-start: 2;
        grid-row-end: 2;
    }
    .subjectLabel {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 3;
    }
    .subjectEmail {
        grid-column-start: 2;
        grid-column-end: 11;
        grid-row-start: 3;
        grid-row-end: 3;
    }
    .msgLabel {
        grid-column-start: 1;
        grid-column-end: 11;
        grid-row-start: 4;
        grid-row-end: 4;
    }
    .msgArea {
        grid-column-start: 1;
        grid-column-end: 11;
        grid-row-start: 5;
        grid-row-end: 11;
        min-height: 100px;
    }
    .submitBtn {
        grid-column-start: 1;
        grid-column-end: 11;
        grid-row-start: 11;
        grid-row-end: 11;
    }
    .msgEmail input[type="text"] {
        font-size: 1em;
        width: 100%;
    }
    .msgEmail input[type="submit"] {
        font-size: 1em;
        width: 100%;
    }
    .msgEmail input[type="submit"]:hover {
        font-size: 1em;
    }
    .msgEmail textarea {
        font-size: 1em;
        width: 100%;
        height: 100%;
    }
    .messageCont {
        grid-column-start: 2;
        grid-column-end: 6;
        grid-row-start: 3;
        grid-row-end: 6;
    }
    h5 {
        font-size: 3em;
    }
    p {
        font-size: 1em;
    }
    label {
        font-size: 1em;
    }
}

@media screen and (min-width: 768px) and (max-width: 1023px) {
    .hire {
        height: 75px;
    }
    .msgEmail {
        margin: 3em auto 0;
        width: 80%;
    }
    .msgEmail>* {
        color: #f3caff;
        padding-left: 0.5em;
        padding-top: 0.5em;
        padding-right: 0.5em;
    }
    .toLabel {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 1;
    }
    .toText {
        grid-column-start: 2;
        grid-column-end: 11;
        grid-row-start: 1;
        grid-row-end: 1;
        padding-left: 0;
    }
    .fromLabel {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 2;
    }
    .fromEmail {
        grid-column-start: 2;
        grid-column-end: 11;
        grid-row-start: 2;
        grid-row-end: 2;
    }
    .subjectLabel {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 3;
    }
    .subjectEmail {
        grid-column-start: 2;
        grid-column-end: 11;
        grid-row-start: 3;
        grid-row-end: 3;
    }
    .msgLabel {
        grid-column-start: 1;
        grid-column-end: 11;
        grid-row-start: 4;
        grid-row-end: 4;
    }
    .msgArea {
        grid-column-start: 1;
        grid-column-end: 11;
        grid-row-start: 5;
        grid-row-end: 11;
        min-height: 100px;
    }
    .submitBtn {
        grid-column-start: 1;
        grid-column-end: 11;
        grid-row-start: 11;
        grid-row-end: 11;
    }
    .msgEmail input[type="text"] {
        font-size: 1em;
        width: 100%;
    }
    .msgEmail input[type="submit"] {
        font-size: 1em;
        width: 100%;
    }
    .msgEmail input[type="submit"]:hover {
        font-size: 1em;
    }
    .msgEmail textarea {
        font-size: 1em;
        height: 100%;
    }
    .messageCont {
        grid-column-start: 2;
        grid-column-end: 6;
        grid-row-start: 3;
        grid-row-end: 6;
    }
    h5 {
        font-size: 3em;
    }
    p {
        font-size: 1em;
    }
    label {
        font-size: 1em;
    }
}

@media screen and (min-width: 1024px) and (max-width: 1199px) {
    .hire {
        height: 75px;
    }
    .msgEmail {
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(11, 1fr);
        margin-top: 3em;
    }
    .msgEmail>* {
        padding-left: 2.5rem;
        padding-top: 1.5em;
        padding-right: 1.5em;
    }
    .toLabel {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 1;
    }
    .toText {
        grid-column-start: 2;
        grid-column-end: 11;
        grid-row-start: 1;
        grid-row-end: 1;
        padding-left: 0;
    }
    .fromLabel {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 2;
    }
    .fromEmail {
        grid-column-start: 2;
        grid-column-end: 11;
        grid-row-start: 2;
        grid-row-end: 2;
    }
    .subjectLabel {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 3;
    }
    .subjectEmail {
        grid-column-start: 2;
        grid-column-end: 11;
        grid-row-start: 3;
        grid-row-end: 3;
    }
    .msgLabel {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 4;
    }
    .msgArea {
        grid-column-start: 2;
        grid-column-end: 11;
        grid-row-start: 4;
        grid-row-end: 11;
    }
    .submitBtn {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 11;
        grid-row-end: 11;
    }
    .msgEmail input[type="text"] {
        font-size: 1em;
        width: 100%;
    }
    .msgEmail input[type="submit"] {
        font-size: 1em;
        margin: 0;
        padding: 0;
        padding-bottom: 1em;
        padding-right: 5px;
    }
    .msgEmail input[type="submit"]:hover {
        font-size: 1em;
        padding-bottom: 1em;
    }
    .msgEmail textarea {
        font-size: 1em;
        width: 100%;
        height: 100%;
    }
    .messageCont {
        grid-column-start: 2;
        grid-column-end: 6;
        grid-row-start: 3;
        grid-row-end: 6;
    }
    h5 {
        font-size: 3em;
    }
    p {
        font-size: 1em;
        padding: 3px 0 5px 0;
        margin: 0;
    }
    label {
        font-size: 1em;
    }
}

@media screen and (min-width: 1200px) {
    .msgEmail {
        grid-template-columns: repeat(10, 1fr);
        grid-template-rows: repeat(11, 1fr);
    }
    .msgEmail>* {
        padding-left: 2.5rem;
        padding-top: 1.5em;
        padding-right: 1.5em;
    }
    .toLabel {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 1;
    }
    .toText {
        grid-column-start: 2;
        grid-column-end: 11;
        grid-row-start: 1;
        grid-row-end: 1;
        padding-left: 0;
    }
    .fromLabel {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 2;
    }
    .fromEmail {
        grid-column-start: 2;
        grid-column-end: 11;
        grid-row-start: 2;
        grid-row-end: 2;
    }
    .subjectLabel {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
        grid-row-end: 3;
    }
    .subjectEmail {
        grid-column-start: 2;
        grid-column-end: 11;
        grid-row-start: 3;
        grid-row-end: 3;
    }
    .msgLabel {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 4;
        grid-row-end: 4;
    }
    .msgArea {
        grid-column-start: 2;
        grid-column-end: 11;
        grid-row-start: 4;
        grid-row-end: 11;
    }
    .submitBtn {
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 11;
        grid-row-end: 11;
    }
    .msgEmail input[type="text"] {
        font-size: 1vw;
        width: 100%;
    }
    .msgEmail input[type="submit"] {
        font-size: 1vw;
        margin: 0;
        padding: 0;
        padding-bottom: 1em;
        padding-right: 5px;
    }
    .msgEmail input[type="submit"]:hover {
        font-size: 1vw;
        padding-bottom: 1em;
    }
    .msgEmail textarea {
        font-size: 1vw;
        width: 100%;
        height: 100%;
    }
    .messageCont {
        grid-column-start: 2;
        grid-column-end: 6;
        grid-row-start: 3;
        grid-row-end: 6;
    }
    h5 {
        font-size: 3em;
    }
    p {
        font-size: 1vw;
        padding: 3px 0 5px 0;
        margin: 0;
    }
    label {
        font-size: 1vw;
    }
}