<div class="wrapper">


    <!-- #skills = Angular spezifische id-definierung -->
    <div class="hire bgOverlay" id="hire" #hire>
        <div class="hireHeader">
            <h1 class="crtHeader noselect">HIRE</h1>
        </div>
    </div>

    <form [formGroup]="contactForm" name="contact" class="msgEmail formContainer" method="POST" autocorrect="off" autocapitalize="none" autocomplete="off" (ngSubmit)="onSubmit()">
        <input type="hidden" name="form-name" value="contact" />
        <div class="toLabel noselect">
            <p>To: </p>
        </div>
        <div class="toText">
            <p>stephan@haditsch.dev</p>
        </div>
        <div class="fromLabel noselect">
            <label for="email">From: </label>
        </div>
        <div class="fromEmail">
            <input type="text" spellcheck="false" id="email" placeholder="example@mail.com" formControlName="email" name="email" required>
        </div>
        <div class="subjectLabel noselect">
            <label for="subject">Subject: </label>
        </div>
        <div class="subjectEmail">
            <input type="text" spellcheck="false" id="subject" placeholder="Enter subject here" formControlName="subject" name="subject" required>
        </div>
        <div class="msgLabel noselect">
            <label for="hireMsg">Message: </label>
        </div>
        <div class="msgArea">
            <textarea spellcheck="false" id="hireMsg" formControlName="message" name="message" rows="8" cols="50" placeholder="Send me an e-mail if I was able to convince you that I am the right choice!" required></textarea>
        </div>
        <div class="submitBtn">
            <input type="submit" name="submit" value=">> Send" />
        </div>
    </form>


</div>