<div class="wrapper">


    <!-- #skills = Angular spezifische id-definierung -->
    <div class="hire bgOverlay" id="hire" #hire>
        <div class="hireHeader">
            <h1 class="crtHeader noselect">HIRE</h1>
        </div>
    </div>

    <form name="hire" method="POST" netlify>


        <input type="text" id="email" name="email">

        <input type="text" id="subject" name="subject">

        <textarea id="hireMsg" name="message" rows="8" cols="50"></textarea>

        <input type="submit" name="submit" value=">> Send" />

    </form>



</div>