<nav class="navbar navbar-expand-md custom-toggler fixed-top" [ngClass]="{active: classApplied}">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation" (click)="toggleClass()">
      <span class="navbar-toggler-icon" ></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav nav-fill w-100">
            <li class="nav-item aHome opac">
                <a id="navHome" class="nav-link opac crtTextStart crtTextRand" href="#">HOME</a>
            </li>
            <li class="nav-item aSkills opac">
                <a id="navSkills" class="nav-link opac crtTextStart crtTextRand" href="#skills">SKILLS</a>
            </li>
            <li class="nav-item aWork opac">
                <a id="navWork" class="nav-link opac crtTextStart crtTextRand" href="#work">WORK</a>
            </li>
            <li class="nav-item aAbout opac">
                <a id="navAbout" class="nav-link opac crtTextStart crtTextRand" href="#about">ABOUT</a>
            </li>
            <li class="nav-item aHire opac">
                <a id="navHire" class="nav-link opac crtTextStart crtTextRand" href="#hire">HIRE</a>
            </li>
        </ul>
    </div>
</nav>