<div class="wrapper">


    <!-- #skills = Angular spezifische id-definierung -->
    <div class="work bgOverlay" id="work" #work>
        <div class="workHeader">
            <h1 class="crtHeader noselect">WORK</h1>
        </div>
    </div>
    <div class="carouselCont">
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel" data-interval="10000">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <!-- <img class="d-block w-100" src="assets\gifs\milkroad.gif" alt="First slide" draggable="false"> -->

                    <iframe src="https://player.vimeo.com/video/506064093?autoplay=1&loop=1&muted=1&autopause=0" frameborder="0" allow="autoplay"></iframe>

                    <a class="crtTextStart" href="https://github.com/Haditsch/milk_road" target="-blank">
                        <div class="carousel-caption d-none d-md-block">
                            <h5 class="crtText">MILK ROAD</h5>
                            <p>An e-commerce store where customers can buy local products from farmers nearby <br>Made with PHP, mySQL and Bootstrap</p>
                        </div>
                    </a>
                </div>
                <div class="carousel-item">

                    <iframe src="https://player.vimeo.com/video/506064053?autoplay=1&loop=1&muted=1&autopause=0" frameborder="0" allow="autoplay"></iframe>

                    <!-- <img class="d-block w-100" src="assets\gifs\humans_for_the_future.gif" alt="Second slide" draggable="false"> -->
                    <a class="crtTextStart" href="https://github.com/Haditsch/humans_for_the_future" target="-blank">
                        <div class="carousel-caption d-none d-md-block">
                            <h5 class="crtText">HUMANS FOR THE FUTURE</h5>
                            <p>An online store and educational platform for robots <br>Made with Angular, Bootstrap and Typescript</p>
                        </div>
                    </a>
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span *ngIf="!mobile" class="crtTextStart unicodeArrow">🢐🢐</span>
                <span *ngIf="mobile" class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span *ngIf="!mobile" class="crtTextStart unicodeArrow">🢒🢒</span>
                <span *ngIf="mobile" class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
</div>