<div class="cont">
    <div class="wrapper">
        <div class="gridExt">
            <div class="gridExtItem">
                <img src="assets\svgs\grid_ext_glow_alt.svg" />
            </div>
        </div>


        <!-- #skills = Angular spezifische id-definierung -->
        <div class="skills bgOverlay" id="skills" #skills>
            <div class="skillsHeader">
                <h1 class="crtHeader noselect">SKILLS</h1>
            </div>
        </div>




        <div class="iconOne bgOverlay">
            <div class="angularIcon">
                <img src="assets\svgs\icons\angular.svg" draggable="false" />
            </div>
            <div class="angularIcon">
                <img src="assets\svgs\icons\html5.svg" draggable="false" />
            </div>
            <div class="cssIcon">
                <img src="assets\svgs\icons\css.svg" draggable="false" />
            </div>
            <div class="jsIcon">
                <img src="assets\svgs\icons\javascript.svg" draggable="false" />
            </div>
        </div>

        <div class="iconTwo bgOverlay">
            <div class="jqueryIcon">
                <img src="assets\svgs\icons\jquery.svg" draggable="false" />
            </div>
            <div class="bootstrapIcon">
                <img src="assets\svgs\icons\bootstrap.svg" draggable="false" />
            </div>
            <div class="tsIcon">
                <img src="assets\svgs\icons\typescript.svg" draggable="false" />
            </div>
        </div>

        <div class="iconTwo">
            <div class="illustratorIcon">
                <img src="assets\svgs\icons\illustrator.svg" draggable="false" />
            </div>
            <div class="photoshopIcon">
                <img src="assets\svgs\icons\photoshop.svg" draggable="false" />
            </div>
            <div class="adobexdIcon">
                <img src="assets\svgs\icons\adobexd.svg" draggable="false" />
            </div>
        </div>
        <!-- <div class="ambientRadiant">

        </div> -->
    </div>
</div>