    .wrapper {
        display: grid;
        grid-template-columns: repeat(5, 1fr);
        grid-template-rows: repeat(17, 1fr);
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        user-select: none;
        -moz-user-select: none;
        -khtml-user-select: none;
        -webkit-user-select: none;
        -o-user-select: none;
        pointer-events: none;
    }
    /* .wrapper>* {
    color: #fff;
    border: 1px solid red;
} */
    
    .portfolio {
        padding-top: 4em;
        grid-column-start: 1;
        grid-column-end: 12;
        grid-row-start: 11;
        grid-row-end: 11;
        z-index: 100;
        font-size: 10vw;
        filter: blur(1.5px);
        opacity: 0;
        animation: 6s linear 0s 1 fadeInAndOut;
    }
    
    .continue {
        padding-top: 4em;
        grid-column-start: 1;
        grid-column-end: 12;
        grid-row-start: 11;
        grid-row-end: 11;
        z-index: 100;
        font-size: 10vw;
        filter: blur(1.5px);
        opacity: 0;
        animation: 5s linear 5s 1 fadeInAndOut;
    }
    
    .downArrow {
        font-family: Arial, sans-serif;
        font-style: normal;
        padding-top: 4em;
        grid-column-start: 1;
        grid-column-end: 12;
        grid-row-start: 17;
        grid-row-end: 17;
        z-index: 100;
        font-size: 10vw;
        filter: blur(1.5px);
        opacity: 1;
    }
    
    @keyframes fadeInAndOut {
        0% {
            filter: blur(300px);
            opacity: 0;
        }
        25% {
            filter: blur(1.5px);
            opacity: 1;
        }
        75% {
            filter: blur(1.5px);
            opacity: 1;
        }
        100% {
            filter: blur(300px);
            opacity: 0;
        }
    }
    
    @keyframes fadeIn {
        0% {
            filter: blur(300px);
            opacity: 0;
        }
        90% {
            filter: blur(300px);
            opacity: 0;
        }
        100% {
            filter: blur(1.5px);
            opacity: 1;
        }
    }
    
    @keyframes stay {
        0% {
            filter: blur(1.5px);
            opacity: 1;
        }
        100% {
            filter: blur(1.5px);
            opacity: 1;
        }
    }
    
    .downArrow {
        animation: 6.25s linear 0s 1 fadeIn, 1s linear 6.25s 1 stay, 2s linear 6.25s infinite bounce
    }
    
    @keyframes bounce {
        0% {
            transform: translateY(-10px);
        }
        50% {
            transform: translateY(0);
        }
        100% {
            transform: translateY(-10px);
        }
    }
    /* MEDIA QUERIES */
    
    @media screen and (max-width: 480px) {
        .portfolio,
        .continue {
            padding-top: 4em;
            grid-column-start: 1;
            grid-column-end: 12;
            grid-row-start: 3;
            grid-row-end: 3;
            z-index: 100;
            font-size: 10vw;
            filter: blur(0);
            opacity: 0;
        }
        .downArrow {
            font-family: Arial, sans-serif;
            font-style: normal;
            padding-top: 4em;
            grid-column-start: 1;
            grid-column-end: 12;
            grid-row-start: 4;
            grid-row-end: 4;
            z-index: 100;
            font-size: 10vw;
            filter: blur(0);
            opacity: 1;
        }
        h1 {
            font-family: "Vipnagorgialla", Arial, Helvetica, sans-serif !important;
            font-style: italic;
            font-weight: 1000;
            text-transform: uppercase;
            text-align: center;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            color: rgb(255, 255, 255);
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: rgba(255, 255, 255, 0.5);
            transition: all 0.5s;
            -webkit-text-fill-color: rgba(10, 35, 49, 0);
            text-shadow: 3.02956275843481219px 0 1px rgba(0, 255, 255, 0.5), -0.02956275843481219px 0 1px rgba(255, 0, 255, 0.3), 0 0 3px;
            filter: blur(0);
        }
        @keyframes fadeInAndOut {
            0% {
                filter: blur(300px);
                opacity: 0;
            }
            25% {
                filter: blur(0);
                opacity: 1;
            }
            75% {
                filter: blur(0);
                opacity: 1;
            }
            100% {
                filter: blur(300px);
                opacity: 0;
            }
        }
        @keyframes fadeIn {
            0% {
                filter: blur(300px);
                opacity: 0;
            }
            90% {
                filter: blur(300px);
                opacity: 0;
            }
            100% {
                filter: blur(0);
                opacity: 1;
            }
        }
    }
    
    @media screen and (min-width: 480px) and (max-width: 767px) {
        .portfolio,
        .continue {
            padding-top: 4em;
            grid-column-start: 1;
            grid-column-end: 12;
            grid-row-start: 4;
            grid-row-end: 4;
            z-index: 100;
            font-size: 10vw;
            filter: blur(0);
            opacity: 0;
        }
        .downArrow {
            font-family: Arial, sans-serif;
            font-style: normal;
            padding-top: 4em;
            grid-column-start: 1;
            grid-column-end: 12;
            grid-row-start: 6;
            grid-row-end: 6;
            z-index: 100;
            font-size: 10vw;
            filter: blur(0);
            opacity: 1;
        }
        h1 {
            font-family: "Vipnagorgialla", Arial, Helvetica, sans-serif !important;
            font-style: italic;
            font-weight: 1000;
            text-transform: uppercase;
            text-align: center;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            color: rgb(255, 255, 255);
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: rgba(255, 255, 255, 0.5);
            transition: all 0.5s;
            -webkit-text-fill-color: rgba(10, 35, 49, 0);
            text-shadow: 3.02956275843481219px 0 1px rgba(0, 255, 255, 0.5), -0.02956275843481219px 0 1px rgba(255, 0, 255, 0.3), 0 0 3px;
            filter: blur(0);
        }
        @keyframes fadeInAndOut {
            0% {
                filter: blur(300px);
                opacity: 0;
            }
            25% {
                filter: blur(0);
                opacity: 1;
            }
            75% {
                filter: blur(0);
                opacity: 1;
            }
            100% {
                filter: blur(300px);
                opacity: 0;
            }
        }
        @keyframes fadeIn {
            0% {
                filter: blur(300px);
                opacity: 0;
            }
            90% {
                filter: blur(300px);
                opacity: 0;
            }
            100% {
                filter: blur(0);
                opacity: 1;
            }
        }
    }
    
    @media screen and (min-width: 768px) and (max-width: 1023px) {
        .portfolio,
        .continue {
            padding-top: 4em;
            grid-column-start: 1;
            grid-column-end: 12;
            grid-row-start: 5;
            grid-row-end: 5;
            z-index: 100;
            font-size: 10vw;
            filter: blur(0);
            opacity: 0;
        }
        .downArrow {
            font-family: Arial, sans-serif;
            font-style: normal;
            padding-top: 4em;
            grid-column-start: 1;
            grid-column-end: 12;
            grid-row-start: 8;
            grid-row-end: 8;
            z-index: 100;
            font-size: 10vw;
            filter: blur(0);
            opacity: 1;
        }
        h1 {
            font-family: "Vipnagorgialla", Arial, Helvetica, sans-serif !important;
            font-style: italic;
            font-weight: 1000;
            text-transform: uppercase;
            text-align: center;
            position: absolute;
            bottom: 0;
            left: 0;
            right: 0;
            color: rgb(255, 255, 255);
            -webkit-text-stroke-width: 1px;
            -webkit-text-stroke-color: rgba(255, 255, 255, 0.5);
            transition: all 0.5s;
            -webkit-text-fill-color: rgba(10, 35, 49, 0);
            text-shadow: 3.02956275843481219px 0 1px rgba(0, 255, 255, 0.5), -0.02956275843481219px 0 1px rgba(255, 0, 255, 0.3), 0 0 3px;
            filter: blur(0);
        }
        @keyframes fadeInAndOut {
            0% {
                filter: blur(300px);
                opacity: 0;
            }
            25% {
                filter: blur(0);
                opacity: 1;
            }
            75% {
                filter: blur(0);
                opacity: 1;
            }
            100% {
                filter: blur(300px);
                opacity: 0;
            }
        }
        @keyframes fadeIn {
            0% {
                filter: blur(300px);
                opacity: 0;
            }
            90% {
                filter: blur(300px);
                opacity: 0;
            }
            100% {
                filter: blur(0);
                opacity: 1;
            }
        }
    }
    
    @media screen and (min-width: 1024px) and (max-width: 1199px) {
        .portfolio,
        .continue {
            padding-top: 4em;
            grid-column-start: 1;
            grid-column-end: 12;
            grid-row-start: 8;
            grid-row-end: 8;
            z-index: 100;
            font-size: 10vw;
            filter: blur(1.5px);
            opacity: 0;
        }
        .downArrow {
            font-family: Arial, sans-serif;
            font-style: normal;
            padding-top: 4em;
            grid-column-start: 1;
            grid-column-end: 12;
            grid-row-start: 12;
            grid-row-end: 12;
            z-index: 100;
            font-size: 10vw;
            filter: blur(1.5px);
            opacity: 1;
        }
    }
    
    @media screen and (min-width: 1200px) {
        .portfolio,
        .continue {
            padding-top: 4em;
            grid-column-start: 1;
            grid-column-end: 12;
            grid-row-start: 11;
            grid-row-end: 11;
            z-index: 100;
            font-size: 10vw;
            filter: blur(1.5px);
            opacity: 0;
        }
        .downArrow {
            font-family: Arial, sans-serif;
            font-style: normal;
            padding-top: 4em;
            grid-column-start: 1;
            grid-column-end: 12;
            grid-row-start: 17;
            grid-row-end: 17;
            z-index: 100;
            font-size: 10vw;
            filter: blur(1.5px);
            opacity: 1;
        }
    }